@model ProjectManager_Main.ViewModels.ProjectsVM.ProjectDetailsVM

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ProjectDetailsVM</h4>
    <hr />
    <dl class="row">
        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description) 
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new {  id = Model.Id }) |
    <a asp-action="Index">Back to List</a>
</div>
<div style="margin-top:100px;">
    <h4>Tasks</h4>
    <hr /> 
    <p> 
        <a asp-action="Create" asp-controller="Task"asp-route-id="@Model.Id">Create New Task</a>
    </p>
    <table class="table">
        <thead> 
            <tr>

                <th>
                   Name
                </th>
                <th>
                    Description
                </th>
                <th>
                 State
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Tasks)
            {
                <tr>

                    <td>
                        @item.Name
                    </td>
                    <td>
                        @item.Description
                    </td>
                    <td>
                        @item.State
                    </td>

                    <td>
                        <a href="/Task/Edit?id=@item.Id">Edit</a>
                        <a href="/Task/Details?id=@item.Id">Details</a>
                        <a href="/Task/Delete?id=@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>